profile_id = "default"
enabled = true

[ping]
primary_host = "8.8.8.8"
secondary_host = "1.1.1.1"
interval_sec = 5

[speedtest]
enabled = true
max_age_days = 14
baseline_down_mbps = 595
fallback_down_mbps = 595
server_id = ""
